#title-comments {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 60%;
  margin: 0 auto 2rem auto;
  max-width: 40rem;
  min-width: 20rem;
}

/* comment section container */
#comment-section {
  background-color: var(--primary-bg-color);
  width: 60%;
  margin: 0 auto 2rem auto;
  overflow-y: auto;
  height: 30rem;
  border: 1px solid var(--text-color);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 40rem;
  min-width: 21rem;
}

/* comments and usernamers */
.comment {
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.comment-content {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.uesr-name {
  font-weight: normal;
}

.text {
  font-weight: normal;
}

.stars {
  color: #ffd700;
}

.username {
  font-weight: 800;
  font-size: large;
}
@media screen and (max-width: 430px) {
  #comment-section {
    border: none;
  }
}

.star {
  height: 1rem;
}

#poster-container {
  height: 100%;
  width: 40%;
}

#film-poster {
  width: 100%;
  height: 10%;
  object-fit: cover;
  border-radius: 1rem;
}
/* the rating under poster */
.rating-section {
  display: flex;
  height: 2rem;
}

#rating-img {
  margin: auto 0 auto auto;
  width: 1.5rem;
  height: 1.5rem;
}

#rating-number {
  font-size: 1.2rem;
  margin: auto auto auto 0.1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#trailer-button {
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  color: var(--text-color);
  width: 5rem;
  text-align: center;
  box-shadow: var(--button-box-shadow);
}

#favorite {
  width: 5rem;
  text-align: center;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
}

#favorite:hover,
#trailer-button:hover {
  background-color: var(--button-bg-color-hover);
  cursor: pointer;
}
/* The container of film */
#film-container {
  box-sizing: border-box;
  width: 65%;
  display: flex;
  margin: 1rem auto 2rem auto;
  max-width: 42rem;
  min-height: 30rem;
}

.film-header {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 0;
}

#film-title {
  overflow: hidden;
  font-family: var(--secondary-font);
  height: 100%;
  margin-top: 0.2rem;
  width: 80%;
  text-align: center;
  font-size: 1.7rem;
}

#year {
  height: 50;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
}

#genre {
  height: auto;
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

#film-summary {
  width: 60%;
  height: 100%;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#film-director {
  height: auto;
  text-align: left;
  width: 100%;
  margin-top: 0.5rem;
}

#film-plot {
  width: 100%;
  height: auto;
}

#film-cast {
  list-style: none;
  width: 100%;
}

@media screen and (max-width: 1030px) {
  #film-container {
    flex-direction: column;
    gap: 0.5rem;
  }
  #poster-container {
    margin: 0 auto 0 auto;
    min-width: 20rem;
  }
  #film-summary {
    margin: 0 auto 0 auto;
    min-width: 30rem;
  }
}

@media screen and (max-width: 755px) {
  #poster-container {
    margin: 0 auto 0 auto;
  }

  #film-poster {
    min-width: 20rem;
  }
  #film-summary {
    margin: 0 auto 0 auto;
    padding: unset;
    width: 100%;
    min-width: unset;
  }
}

@media screen and (max-width: 499px) {
  #poster-container {
    width: 100%;
    min-width: unset;
  }

  #film-poster {
    min-width: unset;
  }
}
