main {
  box-sizing: border-box;
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#select-section {
  height: 2rem;
  margin: 2rem auto 2rem 2rem;
  width: auto;
  display: flex;
  justify-content: center;
}

.filter-label{
  height:1.8rem;
  margin: auto 0;
  padding-top: 0.5rem;
}
#filters select {
  font-size: 1rem;
  height: 1.8rem;
  text-align: left;
  width: 6rem;
  padding: 0.2rem 0.5rem;
  margin: auto 1rem;
  background-color: var(--button-bg-color);
  border: 0.1rem solid var(--button-bg-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  color: var(--text-color);
  padding: 0.2rem;
}

#filters-title {
  width: auto;
  height: 2rem;
  margin: 2rem 2rem 2rem auto;
  text-align: right;
  min-width: 7rem;
  padding-top: 0.2rem;
}

#films-gallery {
  display: grid;
  grid-template-areas:
    "img img img img img"
    "img img img img img";
  margin: 1rem 0 4rem 0;
  justify-content: center;
  gap: 1rem;
}

.film-poster {
  width: 8rem;
  box-shadow: var(--film-poster-box-shadow);
}

@media screen and (max-width: 772px) {
  #films-gallery {
    grid-template-areas: "img img img img";
  }
}

@media screen and (max-width: 620px) {
  #films-gallery {
    grid-template-areas: "img img img";
  }
}

@media screen and (max-width: 460px) {
  #films-gallery {
    grid-template-areas: "img img";
  }
}

@media screen and (max-width: 690px) {
  #filters {
    display: block;
    padding-top: 2rem;
  }

  #select-section {
    justify-content: left;
    margin: 0 auto 2rem auto;
    width: 70%;
    min-width: 22rem;
  }

  #filters-title {
    margin: 0 auto 1rem auto;
    width: 70%;
    text-align: left;
    padding-left: 2rem;
    min-width: 21rem;
  }
}

.film-title {
  max-width: 128px;
}
