body {
  box-sizing: border-box;
}

/* Hero section */
#hero-section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 2rem;
}

#search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Search bar */
#search-bar {
  width: 100%;
  min-width: 15rem;
  max-width: 26rem;
  height: 1.8rem;
  background-color: #ffffffd0;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
}

#search-button {
  display: block;
  color: var(--text-color);
  border: 0.1rem solid var(--button-bg-color);
  background-color: var(--button-bg-color);
  transition: background-color 0.1s ease-in-out;
  box-shadow: var(--button-box-shadow);
  width: 6rem;
  height: 2rem;
  border-radius: var(--button-border-radius);
  margin: auto;
}

#search-button:hover {
  background-color: var(--button-bg-color-hover);
  cursor: pointer;
}

#search-result {
  display: grid;
  grid-template-areas: "img img img img img img img";
  justify-content: center;
  margin-top: 0.8rem;
}

/* Popular searches section */
#popular-searches-title {
  text-align: center;
}

#popular-searches {
  display: grid;
  grid-template-areas: "img img img img img img img";
  justify-content: center;
  margin: 0 0 2rem 0;
}

.film-poster {
  width: 8rem;
  margin: 0 0.3rem;
  box-shadow: var(--film-poster-box-shadow);
  border-radius: var(--film-poster-border-radius);
}

/* Media queries */
/* Search result and popular searches */
@media screen and (max-width: 1020px) {
  #search-result {
    grid-template-areas: "img img img img img";
  }
  #popular-searches {
    grid-template-areas: "img img img img img";
  }
}

@media screen and (max-width: 745px) {
  #search-result {
    grid-template-areas: "img img img img";
  }
  #popular-searches {
    grid-template-areas: "img img img img";
  }
}

@media screen and (max-width: 600px) {
  #search-result {
    grid-template-areas: "img img img";
  }
  #popular-searches {
    grid-template-areas: "img img img";
  }
  .film-poster {
    width: 6rem;
  }
}

@media screen and (max-width: 350px) {
  #search-result {
    grid-template-areas: "img img";
  }
  #popular-searches {
    grid-template-areas: "img img";
  }
  .film-poster {
    width: 6rem;
  }
}
