body {
  box-sizing: border-box;
}

/* The hero section and the search bar */
#hero-section {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 760px) {
  #hero-section {
    min-height: 15rem;
    height: auto;
    padding: 2rem 2rem;
  }
}

#hero-section h1 {
  height: 2rem;
  width: 100%;
  text-align: center;
  min-width: 10rem;
}

#hero-section button {
  display: block;
  color: var(--text-color);
  border: 0.1rem solid var(--button-bg-color);
  background-color: var(--button-bg-color);
  transition: background-color 0.1s ease-in-out;
  box-shadow: var(--button-box-shadow);
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  margin: auto;
}

#hero-section button:hover {
  background-color: var(--button-bg-color-hover);
  cursor: pointer;
}

#search-section {
  width: 30%;
  height: 50%;
  margin: auto;
  min-width: 18rem;
}

#search-bar {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  min-width: 18rem;
  padding-left: 1rem;
}

/* Popular searches section */
#popular-searches-title {
  width: 100%;
  text-align: center;
}

#popular-searches {
  display: grid;
  grid-template-areas: "img img img img img img img";
  justify-content: center;
  margin: 0 0 2rem 0;
}

.film-poster {
  width: 8rem;
  margin: 0 0.3rem;
  box-shadow: var(--film-poster-box-shadow);
}

@media screen and (max-width: 1020px) {
  #popular-searches {
    grid-template-areas: "img img img img img";
  }
}

@media screen and (max-width: 745px) {
  #popular-searches {
    grid-template-areas: "img img img img";
  }
}

@media screen and (max-width: 600px) {
  #popular-searches {
    grid-template-areas: "img img img";
  }
  .film-poster {
    width: 6rem;
  }
}

@media screen and (max-width: 350px) {
  #popular-searches {
    grid-template-areas: "img img";
  }
  .film-poster {
    width: 6rem;
  }
}
