html {
    --header: #414141;
    --body: #5D5D5D;
    --footer:#7E7E7E;
}

body {
    margin: 0;
  }

header{
    background-color: var(--header);
    width: 100%;
    height: 6rem;
}

main{
    background-color: var(--body);
    width: 100%;
    height: 50rem;
}

#footer-main-division{
    background-color: var(--footer);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 2rem;
    gap:10rem
}

footer a img {
    max-width: 250px;
  }

#footer-container{
    display: flex;
    gap: 3rem;
}

.footer-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list a {
    text-decoration: none;
    color: white;
}

.footer-list-head{
    color: white;
    font-size: 25px;
}

.follow-us {
   color: white;
   padding-left:1rem;
   font-size: 25px;
  }

.follow-us a img {
    margin: 5px;
    transition: transform 0.3s ease;
  }

  #footer-copy-right-division {
    background-color: var(--footer);
    border-top: 2px solid #fff;
    text-align: center;
    padding: 0.3rem;

}

#footer-copy-right-division p {
    color: white;
    font-size: 1rem;
}