#background-img {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  position: relative;
}

#background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#user-profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid white;
  object-fit: cover;
  position: relative;
  top: -3.5rem;
}

#user-details {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.35rem;
  color: white;
}

.user-join {
  font-size: 1.2rem;
  margin: 0.35rem;
  color: white;
}
.user-interest {
  font-size: 1rem;
  margin: 0.35rem;
  color: white;
}

#favorite-films {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#favorite-films h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#favorite-film-display {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "img img img img img img img"
    "img img img img img img img";
}

.film-poster {
  width: 8rem;
  height: auto;
  display: block;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  box-shadow: var(--film-poster-box-shadow);
}

#no-favorite-film {
  display: flex;
  justify-content: center;
  margin: 1rem 0 4rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.film-wrapper {
  display: inline-block;
  text-align: center;
}

.remove-button {
  color: var(--text-color);
  border: none;
  padding: 0.2rem 1.25rem;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  transition: background-color 0.1s ease-in-out;
  box-shadow: var(--button-box-shadow);
}

.remove-button:hover {
  background-color: var(--button-bg-color-hover);
  cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 1020px) {
  #favorite-film-display {
    grid-template-areas: "img img img img img";
  }
}

@media screen and (max-width: 745px) {
  #favorite-film-display {
    grid-template-areas: "img img img img";
  }
}

@media screen and (max-width: 600px) {
  #favorite-film-display {
    grid-template-areas: "img img img";
  }
}

@media screen and (max-width: 450px) {
  #favorite-film-display {
    grid-template-areas: "img img";
  }
}

@media (max-width: 768px) {
  #user-profile {
    flex-direction: column;
  }

  #user-details {
    width: 100%;
    max-width: 24rem;
    align-items: center;
    margin-top: -2.9rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .user-interest {
    padding: 0 0.5rem;
    margin: 0.35rem 0;
  }
}
