#background-img {
  width: 100%;
  height: 20%;
  overflow: hidden;
  position: relative;
}

#background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#user-profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid white;
  object-fit: cover;
  position: relative;
  top: -3.5rem;
}

#user-details {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
  color: white;
}

.user-join {
  font-size: 1.2rem;
  margin: 5px;
  color: white;
}
.user-interest {
  font-size: 1rem;
  margin: 5px;
  color: white;
}

#Favorite-films {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

#Favorite-films p {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

@media (max-width: 768px) {
  #user-profile {
    flex-direction: column;
  }

  #user-details {
    width: 23rem;
    align-items: center;
    margin-top: -2.9rem;
  }

  .user-interest {
    font-size: 1rem;
    color: white;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
  }
}
