*{
    box-sizing: border-box;
}

main {
    color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sign-in-background {
  height: 100%;
  width: 40%;
}

#sign-in-background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#sign-in-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

#sign-in {
  height: 45%;
  width: 60%;
  border: 0.1rem solid white;
  border-radius: 2rem;
  max-width: 26rem;
  min-width:25rem;
  padding:0.7rem 2rem 0.7rem 2rem;
}

/* Sign in box layout */
.sign-in-title{
    margin-bottom: 0.2rem;
}

#sign-in input{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    padding:1rem;
    margin-bottom: 0.2rem;
}
#sign-in a{
    display: block;
    text-decoration: none;
    color:white;
    font-size: 0.8rem;
}

#sign-in-button{
    display:block;
    width: 100%;
    height: 2rem;
    color:white;
    background-color:rgb(189,12,71);
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
}

.register{
    text-align: center;
}

#sign-in-button:hover,.register:hover,.forgot-password:hover{
    transform: scale(1.04);
    cursor:pointer;
}